<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script type="text/javascript">
  window.staticImages = {
    navLogo: "<%= asset_url("nav_logo.png") %>",
    odell: "<%= asset_url("odell.jpeg") %>",
    judge: "<%= asset_url("judge.jpeg") %>",
    zucc: "<%= asset_url("zucc.jpeg") %>",
  }
</script>

<main id="root"></main>
