<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script type="text/javascript">
  window.staticImages = {
    navLogo: "<%= asset_url("nav_logo.png") %>",
    judge: "<%= asset_url("judge.jpg") %>",
    lebron: "<%= asset_url("lebron.jpg") %>",
    odell: "<%= asset_url("odell.jpg") %>",
    zucc: "<%= asset_url("zucc.jpg") %>",
    demo: "<%= asset_url("demo.jpg") %>"
  }
</script>

<main id="root"></main>
